<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--        通过反射来配置UserServiceImpl-->
    <bean id="userService" class="org.example.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
<!--    通过反射来配置UserDaoPojo-->
    <bean id="userDao" class="org.example.Dao.pojo.UserDaoPojo"></bean>
<!--    通过FactoryBean创建对象-->
    <bean id="factoryBean" class="org.example.factory.UserDaoFactoryBean"></bean>
</beans>